<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/home.css">
  <title>Campus Space</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="./images/logo2.png" alt="Campus Space Logo">
        <h1>CampusSpace</h1>
      </div>

    </div>
  </header>

  <section id="about" class="section">
    <div class="container">
      <h2>About Campus Space</h2>
      <p>
        Campus Space is a dedicated platform for students to explore, connect, and collaborate. We provide a virtual
        space where students can access resources, join communities, and participate in discussions. Our mission is to
        foster an inclusive and engaging environment that enhances learning and personal growth. Join Campus Space today
        and unlock a world of opportunities!
      </p>
    </div>
  </section>

  <section class="section teachers-students-section">
    <div class="container">
      <div class="teacher">
        <img src="./images/teacher.jpg" alt="Teacher">
        <h3>For Teachers</h3>
        <p>
          Campus Space offers a range of tools and resources specifically designed for teachers. Create interactive
          lessons, share materials, and connect with other educators. Collaborate with your colleagues and inspire your
          students in a vibrant and engaging learning environment.
        </p>
      </div>
      <div class="student">
        <img src="./images/student.jpg" alt="Student">
        <h3>For Students</h3>
        <p>
          Campus Space provides students with access to a wealth of educational resources and opportunities. Connect
          with peers, join study groups, and engage in meaningful discussions. Enhance your learning experience and
          broaden your horizons with Campus Space.
        </p>
      </div>
    </div>
  </section>

  <section id="hero" class="section">
    <div class="container">
      <h2>Welcome to Campus Space</h2>
      <p>Discover a world of knowledge and opportunities.</p>
      <div class="cta-buttons">
        <a href="login" class="btn">Student Login</a>
        <a href="Teacherlogin" class="btn register-btn">Teacher login</a>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2023 Campus Space. All rights reserved.</p>
    </div>
  </footer>
</body>

</html